* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
}

body {
    background: url("../res/img/background/Bomberman_fon.png") center;
}

.selected {
    color: #fff601;
}

.unselected {
    color: #ffffff;
}

.end_game {
    opacity: 0.3;
    transition-duration: 0.5s;
}

.container_options {
    opacity: 1;
    transition-duration: 0.5s;
    border-radius: 2px;
    margin: 121px auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: #ffa241;
    width: 500px;
    height: 300px;
    z-index: 3;
}

.options_title {
    background-color: #cb6724;
    height: 80px;
    width: 100%;
}

h2 {
    color: #544d88;
    font-size: 32px;
    text-align: center;
    float: left;
    margin-top: 24px;
    margin-left: 129px;
}

.exit_button {
    border-radius: 4px;
    padding-left: 3px;
    padding-top: 4px;
    float: right;
    font-size: 35px;
    text-align: center;
    width: 40px;
    height: 36px;
    color: #f5faff;
    background-color: firebrick;
    cursor: pointer;
}

.exit_button:hover {
    background-color: red;
    color: azure;
}

.none {
    display: none;
    opacity: 0;
}

.options_main {
    background-color: #e7b365;
    color: #ffffff;
    font-size: 30px;
    width: 450px;
    height: 170px;
    padding: 25px;
}

.level_block {
    margin: 0 auto;
    padding-top: 20px;
    height: 30px;
}

.level_text {
    float: left;
    margin-right: -9px;
}

.level_button {
    cursor: pointer;
    border-radius: 5px;
    background-color: #43d6fa;
    display: block;
    float: left;
    font-size: 35px;
    margin-left: 16px;
    margin-top: -7px;
    width: 75px;
    height: 37px;
    padding-top: 6px;
    text-align: center;
}

.level_button:hover {
    background-color: #3fc5e6;
}

.music_block {
    height: 30px;
    margin: 40px auto;
}

.music_text {
    float: left;
    margin-right: 109px;
}

.music_button {
    cursor: pointer;
    border-radius: 22px;
    color: #fff601;
    background-color: #43d6fa;
    display: block;
    font-size: 35px;
    margin-top: -8px;
    float: left;
    text-align: center;
    width: 114px;
    padding-top: 8px;
    height: 39px;
}

.music_button:hover {
    background-color: #3fc5e6;
}

.container_main {
    background-color: chocolate;
    margin: 0 auto;
    width: 500px;
    height: 640px;
}

.header {
    background-color: chocolate;
    padding-bottom: 20px;
}

.logo {
    padding-top: 20px;
    color: blue;
    font-size: 50px;
    text-align: center;
}

.menu {
    margin-bottom: 20px;
    background-color: darkorange;
    height: 30px;
    margin-top: 20px;
    font-size: 10px;
}

.button {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 10px;
    padding-top: 10px;
    display: block;
    float: left;
    color: #f5faff;
    height: 20px;
    border-radius: 3px;
    text-align: center;
}

.button:hover {
    color: azure;
    background-color: #ffa241;
}

.time {
    margin-left: 10px;
    width: 130px;
    height: 20px;
    float: left;
}

.time_text {
    float: left;
}

.time_amount {
    float: left;
}

.score {
    margin-right: 10px;
    width: 100px;
    height: 20px;
    float: right;
}

.live {
    margin-right: 10px;
    width: 120px;
    height: 20px;
    float: right;
}

.live_text {
    float: left;
}

.live_amount {
    float: left;
}

.bomb {
    margin-top: 8px;
    width: 118px;
    height: 20px;
    clear:both;
    float: right;
    margin-right: 10px;
}

.bomb_text {
    float: left;
}

.bomb_amount {
    float: left;
}

.game_container {
    margin: 0 auto;
    width: 480px;
    height: 390px;
}

.clear {
    clear: both;
}