*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
}

body
{
    background: url("../img/фон/Bomberman_fon.png") center;
}

.container_options
{
    margin: 90px auto;
    background-color: aliceblue;
    width: 500px;
    height: 500px;
    z-index: 5;
    position: fixed;
}

.options_title
{
    background-color: palevioletred;
    height: 80px;
    width: 100%;
}

h2
{
    background-color: darkorange;
    color: blue;
    font-size: 32px;
    text-align: center;
    float: left;
    margin-top: 24px;
    margin-left: 129px;
}

.exit_button
{
    padding-top: 5px;
    padding-left: 4px;
    float: right;
    font-size: 35px;
    text-align: center;
    width: 40px;
    height: 36px;
    color: #f5faff;
    background-color: firebrick;
}

.none
{
    display: none;
}

.options_main
{
    background-color: darkgray;
    width: 450px;
    height: 300px;
    margin: 27px auto;
}

.level_block
{
    margin: 17px auto;
    background-color: darkcyan;
    width: 300px;
    height: 30px;
}

.level_text
{
    background-color: crimson;
    float: left;
    width: 50px;
    height: 20px;
}

.level_button
{
    background-color: cornflowerblue;
    width: 20px;
    height: 20px;
}

.music_block
{
    background-color: indianred;
    width: 300px;
    height: 30px;
}

.music_text
{
    background-color: indigo;
    float: left;
    width: 50px;
    height: 20px;
}

.music_button
{
    background-color: salmon;
    width: 40px;
    height: 25px;
}

.container_main
{
    background-color: chocolate;
    margin: 0 auto;
    width: 500px;
    height: 640px;
}

.header
{
    background-color: chocolate;
    padding-bottom: 20px;
}

.logo
{
    padding-top: 20px;
    color: blue;
    font-size: 50px;
    text-align: center;
}

.menu
{
    margin-bottom: 20px;
    background-color: darkorange;
    height: 30px;
    margin-top: 20px;
    font-size: 10px;
}

.button
{
    margin-left: 5px;
    margin-right: 10px;
    padding-top: 10px;
    display: block;
    float: left;
    color: #f5faff;
    height: 20px;
    border-radius: 3px;
    text-align: center;
}

.button:hover
{
    color: azure;
    background-color: #ffa241;
}

.exit
{
    background-color: firebrick;
    padding-top: 10px;
    display: block;
    margin-right: 10px;
    float: right;
    color: #f5faff;
    width: 100px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
}

.exit:hover
{
    background-color: red;
}

.time
{
    margin-left: 10px;
    width: 130px;
    height: 20px;
    float: left;
}

.time_text
{
    float: left;
}

.time_amount
{
    float: left;
}

.score
{
    margin-right: 10px;
    width: 100px;
    height: 20px;
    float: right;
}

.live
{
    margin-right: 10px;
    width: 120px;
    height: 20px;
    float: right;
}

.live_text
{
    float: left;
}

.live_amount
{
    float: left;
}

.bomb
{
    margin-top: 8px;
    width: 118px;
    height: 20px;
    clear:both;
    float: right;
    margin-right: 10px;
}

.bomb_text
{
    float: left;
}

.bomb_amount
{
    float: left;
}

.game_container
{
    margin: 0 auto;
    width: 480px;
    height: 390px;
}

.clear
{
    clear: both;
}